@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;
}

:root {
  list-style: none;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Home */
.home {
  padding: 40px;
}

a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

/* Foooter */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #2c3e50;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

/* quote */

.quoteSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  height: 20vh;
  margin: 4rem auto;
  background-color: white;
  padding: 0.5rem;
}

.quoteText {
  font-size: 1rem;
}

.quoteAutor {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  font-style: italic;
}

/* calculator */
.TitleCal {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
  padding: 1rem 0.25rem;
  background-color: white;
}

.calculatorCont {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
